
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Structure */
body{
	font-family: Helvetica, arial, sans-serif;
	font-size: 13px;
	color: #56564c;
	min-width: 980px;
}

header{
	max-width: 1280px;
	min-width: 960px;
	margin: 0 auto;
	height: 432px;
	background: url(/assets/img/layout/header.jpg) center top no-repeat;
	box-sizing: border-box;
	padding: 35px 0;
	color: #fff;
	margin-bottom: 110px;
	position: relative;
}

header ul{
	position: absolute;
	width: 960px;
	bottom: -62px;
	height: 125px;
	background: #efefef;
}

header ul:after{
	content: '';
	display: table;
	clear: both;
}

.container{
	width: 960px;
	margin: 0 auto;
}


/* Layout */
h1{
	font-size: 2.5em;
	margin-bottom: 20px;
	font-weight: bold;
}

header p{
	font-size: 1.6em;
	line-height: 1.2em;
	width: 425px;
}

/* Hand rail styles */
header ul li{
	float: left;
	height: 100%;
	width: 120px;
	border: 0 solid #cccccc;
	border-width: 2px 1px 2px 1px;
	position: relative;
	box-sizing: border-box;
	cursor: pointer;
	color: #20609f;
	font-weight: bold;
	font-family: Arial, sans-serif;
	font-size: 14px;
}

header ul li:first-child{
	border-left-width: 2px;
}

header ul li:last-child{
	border-right-width: 2px;
}

header ul li:hover, header ul .active{
	border-color: #efefef;
	background: #fff;
	color: #232323;
}

header ul .active:after{
	content: '';
	display: block;
	position: absolute;
	bottom: -15px;
	left: 49px;
	width: 25px;
	height: 16px;
	background: url(/assets/img/layout/arrow.png) #fff center bottom no-repeat;
}

header ul figure{
	padding-top: 30px;
	height: 100%;
	text-align: center;
	box-sizing: border-box;
}

header ul figcaption{
	font-size: 1.1em;
	margin-top: 5px;
}


.subaru-review{
	background: url(/assets/img/hand-rail/subaru-grey.png) center no-repeat #efefef;
}

.subaru-review a{
	display: block;
	height: 100%;
	width: 100%;
	overflow: hidden;
	text-indent: -100%;
}

.subaru-review:hover, .subaru-review.active{
	background: url(/assets/img/hand-rail/subaru-white.png) center no-repeat #fff;
}
/* end hand rail styles */


/* review/award box styles */
.review-award-box{
	min-height: 340px;
	background: #efefef;
	margin-bottom: 30px;
}

.review-award-box:after{
	content: '';
	display: table;
	clear: both;
}

.review-award-box section, .review-award-box figure{
	float: left;
	box-sizing: border-box;
	padding: 40px;
}

.review-award-box section{
	width: 47%;
	padding-right: 20px;
}

.review-award-box figure{
	width: 53%;
	text-align: right;
}

.review-award-box section img{
	margin-bottom: 35px;
}

.review-award-box a{
	color: #20609f;
	font-weight: bold;
}

.review-award-box a:hover{
	color: #232323;
}

.review-award-box img{
	max-width: 100%;
	height: auto;
}

/* end review/awar box styles */

#main-quote{
	text-align: center;
	font-size: 1.92em;
	line-height: 1.2em;
	margin: 50px 0;
}

#main-quote p{
	font-style: oblique;
}

h2{
	font-weight: bold;
	margin: 0 45px 20px;
}

h3{
	font-weight: bold;
	font-size: 1.62em;
	margin-bottom: 20px;
}

p{
	margin-bottom: 20px;
}

a{
	color: inherit;
	text-decoration: none;
}
